<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>
        Calculadora
    </title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../dist/calculadora-1.2.0.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="AppCtrl" class="container">
    <legend>Calculadora</legend>
    <calculadora control="directiveControl"></calculadora>
    <blockquote>
        <legend>Controlador externo al componente calculadora</legend>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre de la Variable</th><th>Formula</th><th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(variable, formula) in variablesCalc track by $index">
                    <td>{{ variable }}</td>
                    <td>{{ formula }}</td>
                    <td>{{ calcular(formula) }}</td>
                </tr>
            </tbody>
        </table>
    </blockquote>
    <div class="form">{{ variablesCalc }}</div>
    <label for="">Variable <input type="text" ng-model="var_edit"></label>
    <button ng-click="editar()">Editar</button>
</body>
</html>