<div class="row well">
    <div class="col-sm-6">
        <div ng-hide="modoEdicion">
          <!-- Modo Edición -->
          <div class="form-group">
              <input type="text" ng-model="formula" class="form-control input-lg">
          </div>
          <div class="form-inline form-group">
              <label for="">Nombre de la variable</label>
              <input type="text" ng-model="nombreVariable" class="form-control">
              <button ng-click="guardar()">Guardar</button>
          </div>
        </div>
        <div ng-show="modoEdicion">
          <!-- Modo Normal -->
          <div class="form-inline form-group">
              <label for="">{{ editVar }}</label>
              <input type="text" ng-model="formula" class="form-control input-lg" disabled>
          </div>
          <div class="form-group">
              <button>Guardar cambios</button>
              <button ng-click="modoNormal()">Modo Normal</button>
          </div>
        </div>

        <div class="form-inline form-group">
            <label for="">Resultado</label>
            <input type="text" ng-model="resultado" class="form-control" disabled>
        </div>

        <div class="row">
            <!-- Teclado Numerico -->
            <div class="col-sm-6">
                <button>7</button><button>8</button><button>9</button><button>/</button><button>(</button> <br>
                <button>4</button><button>5</button><button>6</button><button>*</button><button>)</button> <br>
                <button>1</button><button>2</button><button>3</button><button>-</button> <br>
                <button>0</button><button>+</button><button ng-click="calcular()">=</button>
            </div>
            <!-- Teclas de Variables -->
            <div class="col-sm-6" ng-hide="modoEdicion">
                <legend>Variables</legend>
                <div ng-repeat="(key, value) in variables">
                    <button>{{ key }}</button>
                    <button ng-click="editar(key)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button ng-click="eliminar(key)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
            </div>
        </div>

        <div ng-show="alert.success.length > 0" class="alert alert-success alert-dismissible" role="alert">
          <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Todo bien!</strong>
          <ul>
            <li ng-repeat="msj in alert.success">{{ msj }}</li>
          </ul>
        </div>

        <div ng-show="alert.danger.length > 0" class="alert alert-danger alert-dismissible" role="alert">
          <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Algo salio mal</strong>
          <ul>
            <li ng-repeat="msj in alert.danger">{{ msj }}</li>
          </ul>
        </div>
    </div>
</div>