<div class="well" style="max-width: 900px;">
    <!-- Modo Normal -->
    <div class="form-group">
        <label ng-hide="modoEdicion">Formula:</label>
        <label ng-show="modoEdicion">{{ editVar }}:</label>
        <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="formula" spellcheck="false">
            <div class="input-group-btn">
                <button class="btn btn-default input-lg" type="button" ng-click="calcular()">=</button>
                <button class="btn btn-default input-lg dropdown-toggle" data-toggle="dropdown" ng-hide="modoEdicion">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a data-toggle="collapse" href="#collapseSaveFormula"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar Formula</a></li>
                    <li><a ng-click="borrarFormula()"><i class="glyphicon glyphicon-erase"></i> Borrar Formula</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height: 1px; position: relative; z-index: 2000;">
        <div class="collapse" id="collapseSaveFormula" style="box-shadow: black 0px 0px 40px -10px;">
            <div class="panel panel-default">
                <div class="panel-heading">Guardar Formula</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Nombre de Variable</label>
                        <input type="text" class="form-control" ng-model="nombreVariable">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary" data-toggle="collapse" href="#collapseSaveFormula" ng-click="guardar()">Guardar</button>
                        <button class="btn btn-danger" data-toggle="collapse" href="#collapseSaveFormula">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <!-- Teclas de Variables -->
        <div class="col-sm-6">
            <legend>Variables</legend>
            <div ng-repeat="(key, value) in variables" style="margin-bottom: 3px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" ng-click="insertarAFormula(key)">{{ key }}</button>
                    <button type="button" ng-hide="modoEdicion" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="text-center">Valor: {{ Calc.calcular(value) }}</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="editar(key)"><i class="glyphicon glyphicon-pencil text-primary"></i> Editar</a></li>
                        <li><a href="#" ng-click="eliminar(key)"><i class="glyphicon glyphicon-trash text-danger"></i> Eliminar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Teclado Numerico -->
        <div class="col-sm-6">
            <div class="form-inline form-group text-center">
                <label for="">Resultado</label>
                <input type="text" ng-model="resultado" class="form-control text-right" disabled>
            </div>
            <div class="text-center" style="margin-bottom: px;">
                <button ng-click="keyPress('7')" class="btn btn-default" style="width: 40px; margin: 2px;">7</button>
                <button ng-click="keyPress('8')" class="btn btn-default" style="width: 40px; margin: 2px;">8</button>
                <button ng-click="keyPress('9')" class="btn btn-default" style="width: 40px; margin: 2px;">9</button>
                <button ng-click="keyPress('(')" class="btn btn-default" style="width: 40px; margin: 2px;">(</button>
                <button ng-click="keyPress(')')" class="btn btn-default" style="width: 40px; margin: 2px;">)</button>
            </div>
            <div class="text-center" style="margin-bottom: px;">
                <button ng-click="keyPress('4')" class="btn btn-default" style="width: 40px; margin: 2px;">4</button>
                <button ng-click="keyPress('5')" class="btn btn-default" style="width: 40px; margin: 2px;">5</button>
                <button ng-click="keyPress('6')" class="btn btn-default" style="width: 40px; margin: 2px;">6</button>
                <button ng-click="keyPress('/')" class="btn btn-default" style="width: 40px; margin: 2px;">/</button>
                <button ng-click="keyPress('*')" class="btn btn-default" style="width: 40px; margin: 2px;">*</button>
            </div>
            <div class="text-center" style="margin-bottom: px;">
                <button ng-click="keyPress('1')" class="btn btn-default" style="width: 40px; margin: 2px;">1</button>
                <button ng-click="keyPress('2')" class="btn btn-default" style="width: 40px; margin: 2px;">2</button>
                <button ng-click="keyPress('3')" class="btn btn-default" style="width: 40px; margin: 2px;">3</button>
                <button ng-click="keyPress('-')" class="btn btn-default" style="width: 40px; margin: 2px;">-</button>
                <button ng-click="keyPress('+')" class="btn btn-default" style="width: 40px; margin: 2px;">+</button>
            </div>
            <div class="text-center" style="margin-bottom: px;">
                <button ng-click="keyPress('0')" class="btn btn-default" style="width: 88px; margin: 2px;">0</button>
                <button ng-click="keyPress('.')" class="btn btn-default" style="width: 40px; margin: 2px;">.</button>
                <button class="btn btn-default" style="width: 88px; margin: 2px;" ng-click="calcular()">=</button>
            </div>
            <!-- Modo Edición -->
            <div class="row">
                <div class="col">
                    <div ng-show="modoEdicion">
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="update()">Guardar cambios</button>
                            <button class="btn btn-primary" ng-click="modoNormal()">Modo Normal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert Success -->
    <div ng-show="alert.success.length > 0" class="alert alert-success alert-dismissible" role="alert">
        <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Todo bien!</strong>
        <ul>
            <li ng-repeat="msj in alert.success">{{ msj }}</li>
        </ul>
    </div>
    <!-- Alert Danger -->
    <div ng-show="alert.danger.length > 0" class="alert alert-danger alert-dismissible" role="alert">
        <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Algo salio mal</strong>
        <ul>
            <li ng-repeat="msj in alert.danger">{{ msj }}</li>
        </ul>
    </div>
    <!-- Alert Info -->
    <div ng-show="alert.info.length > 0" class="alert alert-info alert-dismissible" role="alert">
        <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Información</strong>
        <ul>
            <li ng-repeat="msj in alert.info">{{ msj }}</li>
        </ul>
    </div>
    <!-- Alert Info -->
    <div ng-show="alert.warning.length > 0" class="alert alert-warning alert-dismissible" role="alert">
        <button ng-click="clearAlert()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Precaución</strong>
        <ul>
            <li ng-repeat="msj in alert.warning">{{ msj }}</li>
        </ul>
    </div>
</div>
